/*++++++++++++++++++TABLET+++++++++++++++++++++++*/

@media (min-width: 577px) and (max-width: 1390px) {
  .main {
    padding: 51px 71px 100px 67px;
  }

  .profile {
    flex-direction: column;
    height: 756px;
    gap: 62px;
  }

  .profile__photo {
    height: 355px;
    width: 100%;
  }

  .profile__description {
    width: 100%;
  }

  .description__btn {
    width: 38%;
  }

  .portfolio {
    margin-top: 55px;
  }
  .portfolio__text {
    width: 100%;
  }

  .footer {
    height: 205px;
    margin-top: -58px;
  }
}

/*++++++++++++++++++MOBILE+++++++++++++++++++++++*/

@media (max-width: 576px) {
  .main {
    padding: 51px 17px 100px 17px;
  }

  .profile {
    flex-direction: column;
    gap: 62px;
    height: 887px;
  }

  .profile__photo {
    height: 355px;
    width: 100%;
  }

  .profile__description {
    width: 100%;
  }

  .description__btn {
    width: 100%;
    margin-left: -1px;
  }

  .portfolio {
    margin-top: 29px;
    margin-left: -1px;
  }

  .portfolio__text {
    width: 100%;
    margin-top: -5px;
  }
}
