/*++++++++++++++++++TABLET+++++++++++++++++++++++*/

@media (min-width: 577px) and (max-width: 1390px) {
  .main {
    padding: 51px 71px 100px 67px;
  }

  .profile {
    flex-direction: column;
    height: 756px;
    gap: 62px;
  }

  .profile__photo {
    height: 355px;
    width: 100%;
  }

  .profile__description {
    width: 100%;
  }

  .description__btn {
    width: 38%;
  }

  .portfolio {
    margin-top: 55px;
  }
  .portfolio__text {
    width: 100%;
  }
  .item,
  .item__image {
    width: 180px;
    height: 180px;
  }

  .row,
  .photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .photos {
    width: 765px;
    gap: 15px;
  }

  .footer {
    height: 205px;
    margin-top: -50px;
  }
}

/*++++++++++++++++++MOBILE+++++++++++++++++++++++*/

@media (max-width: 576px) {
  .main {
    padding: 51px 17px 100px 17px;
  }

  .profile {
    flex-direction: column;
    gap: 62px;
    height: 887px;
  }

  .profile__photo {
    height: 355px;
    width: 100%;
  }

  .profile__description {
    width: 100%;
  }

  .description__btn {
    width: 100%;
    margin-left: -1px;
  }

  .portfolio {
    margin-top: 29px;
    margin-left: -1px;
  }

  .portfolio__text {
    width: 100%;
    margin-top: -5px;
    margin-bottom: 35px;
  }
  .item,
  .item__image {
    width: 165px;
    height: 165px;
  }

  .row,
  .photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .item_third {
    grid-row: 3;
  }

  .item_fourth {
    grid-row: 4;
    grid-column: 2;
  }

  .photos {
    width: 345px;
    gap: 15px;
  }

  .footer {
    margin-top: -45px;
  }
}

@media (min-width: 470px) and (max-width: 720px) {
  .item,
  .item__image {
    width: 175px;
    height: 175px;
  }

  .row,
  .photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .photos {
    width: 400px;
  }
}

@media (min-width: 721px) and (max-width: 855px) {
  .row,
  .photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .photos {
    width: 400px;
  }
}
